@import "../variables";

// Code highlighter
@import "../prism";

// Colors
@PageBackground: @grayLighter;
@PageColor: @black;

@SlideBackground: @white;
@SlideColor: @grayDarker;

// Base
body {
  font-family: 'Ubuntu', 'Droid Sans', sans-serif;
  background-color: @PageBackground;
  color: @PageColor;
}

.slide blockquote {
  border-left: .3em solid @grayLighter;
  padding-left: .25em;
  margin: .25em;
  margin-left: 2em;
  font-size: 1.1em;

  p {
    margin-left: 0em;
  }

  footer {
    font-size: .8em;
    padding-left: .25em;
    font-style: italic;
    &:before {
      content: '\2014 \00A0';
    }
  }
}

.block() {
  background-color: @SlideBackground;
  color: @SlideColor;
  margin: .5em;
  padding: .5em;
  .border-radius();
}

// Slide

@transitionDuration: 0.3s;
.slide {
  .block();
  .transition(@transitionDuration ease-in-out);

  &.previous {
    display: block;
    .translate(-100%, 0);
  }
  &.previous {
    display: block;
  }
  &.next {
    display: block;
    .translate(100%, 0);
  }

}

.slide h3 {
  border-bottom: .05em solid @grayLight;
}

// Step
.step {
  &.done, &.current {
    .transition(@transitionDuration ease-in-out);
  }
}

// Pages
#pages {
  opacity: 0.8;
  display: inline-block;
  background-color: @SlideColor;
  color: @SlideBackground;
  .border-radius();
  padding: .1em .3em;
  .text-shadow(.03em .03em .1em @white);
}

// Presenter
.presenter {
  background-color: @blue;
}

