<section>
    <header class="slide">
        <h2>Basic HTML</h2>
    </header>


    <article class="slide">
        <h3>This is just HTML5 with CSS3</h3>

        <p>This slide is just written like that:</p>
        <pre data-src="code/thisIsJustHTML.html"></pre>
    </article>

    <article class="slide">
        <h3>Basic paragraph</h3>

        <p>
            Lorem ipsum dolor sit amet, <em>emphasis</em> adipisicing elit. Atque <sub>sub</sub> deleniti
            dignissimos ea expedita
            <strong>strong</strong> incidunt labore laudantium
            <small>small</small>
            porro quam quisquam quod rem <sup>sup</sup> rerum veniam, voluptatibus.
            Earum, illo?
        </p>
        <pre data-src="code/paragraph.html"></pre>
    </article>

    <article class="slide">
        <h3>Address</h3>
        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
        </address>
        <pre data-src="code/address.html"></pre>
    </article>

    <article class="slide">
        <h3>Blockquote</h3>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <pre data-src="code/blockquote.html"></pre>
    </article>

    <article class="slide">
        <h3>Bullet list</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>
                Facilisis in pretium nisl aliquet
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Integer molestie lorem at massa</li>
                </ul>
            </li>
        </ul>
        <pre data-src="code/ul.html"></pre>
    </article>

    <article class="slide">
        <h3>Ordered List</h3>
        <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>
                Integer molestie lorem at massa
                <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                </ol>
            </li>
        </ol>
        <pre data-src="code/ol.html"></pre>
    </article>

    <article class="slide">
        <h3>Definitions list</h3>
        <dl>
            <dt>Description lists</dt>
            <dd>A description list is perfect for defining terms.</dd>

            <dt>Euismod</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
        </dl>
        <pre data-src="code/dl.html"></pre>
    </article>

</section>
