<section>
    <header class="slide">
        <h2>Specifics components</h2>
    </header>

    <section class="slide">
        <h3>Basic</h3>
        <p>The basic structure is like this:</p>
        <pre data-src="code/slides.html"></pre>
    </section>

    <section class="slide">
        <h3>Code</h3>
        <p>Use the <a href="http://prismjs.com/">Prims syntax highlighter</a></p>
        <pre class="line-numbers" data-src="code/sample.js"></pre>
    </section>

    <section class="slide">
        <h3>Use Steps</h3>

        <pre class="line-numbers" data-src="code/step.html"></pre>
        <ul>
            <li class="step">step 1</li>
            <li class="step">step 2</li>
            <li class="step">step 3</li>
        </ul>
    </section>

    <section class="slide">
        <h3>Presenter mode</h3>
        <p>Hit <code>Ctrl+P</code> or <code>Shift+P</code> to enter presenter mode.</p>
        <div class="notice notice-warning">
            <p>You should deal with the popup blocker.</p>
        </div>
        <div id="imgPresenterMode" class="img-holder">
            <img src="images/presenter_mode.png" alt="Presenter mode"/>
        </div>

    </section>
</section>
