<section>
    <header class="slide">
        <h2>Introduce <em>Prez</em></h2>
    </header>

    <article class="slide">
        <h3><code>$ whoami</code></h3>

        <address>
            <strong>Igor Laborie</strong><br>
            <a href="https://github.com/ilaborie/" target="_blank">https://github.com/ilaborie/</a><br>
            Follow my Twitter account: <a href="https://twitter.com/intent/user?screen_name=ilaborie">@ilaborie</a>
        </address>
    </article>

    <article class="slide">
        <h3>What's Prez</h3>
        <p>
            <strong>Prez</strong> is just a basic HTML slideshow system
        </p>
        <br/>
        <p>
            Prez is build on modern web components: HTML5, CSS3.<br/>
            The dynamic part is written in <a href="http://coffeescript.org/">CoffeeScript</a>.<br/>
            It's also use great JavaScript libraries:
            <a href="http://zeptojs.com/">Zepto.js</a>,
            <a href="http://momentjs.com/">Moment.js</a>,
            <a href="http://prismjs.com/">Prism</a>,
            <a href="http://eightmedia.github.io/hammer.js/">Hammer.js</a>
        </p>
    </article>

    <article class="slide">
        <h3>Why Prez ?</h3>
        <p>I've just want to create my own slideshow system</p>
        <blockquote>
            <p>
                Why create another HTML5 slideshow system?<br>
                Just for fun!
            </p>
            <footer>Igor</footer>
        </blockquote>
        <p>=> Others slideshows system are probably better than mine...</p>
    </article>

    <article class="slide">
        <h3>Smartphone &amp; Tablet support</h3>
        <p>Prez support mobile devices with <code>tap</code> and <code>swipe</code> events.</p>
        <p>Thanks to <a href="http://eightmedia.github.io/hammer.js/">Hammer.js</a></p>
        <div class="notice notice-info">
            <p>To avoid move with mouse click just remove the hammer.js from index.html.</p>
        </div>
    </article>
</section>
