<section>
    <header class="slide">
        <h2>Section title</h2>
    </header>

    <article class="slide">
        <h3>Slide title</h3>

        <p>Slide content</p>

        <p class="note">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ipsam itaque nesciunt quod voluptate!
            Commodi, debitis dignissimos doloremque dolorum facilis, fuga minus nobis quasi, repellendus sed sunt suscipit
            tempora unde!
        </p>
    </article>
</section>
